version: '3.9'
services:
  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: manifestwishespro
    ports:
      - "3310:3306"
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data: